{% extends 'base.html' %}
{% block content %}
  <h2>{{ item.title }}</h2>
  <div class="row">
    <div class="col s5 z-depth-2">
      <img src="{{ item.image_url}}" alt="{{ item.title }}" width="250" height="300">
    </div>
    <div class="col s7">
    <p style="overflow-wrap: break-word;">{{ item.description }}</p>
    <p>Category: {{ item.category }}</p>
    <p>Price: ${{ item.price }}</p>

      <form action="{% url 'add_to_cart' item.id %}" method="POST">
        {% csrf_token %}
        <button class="btn green" type="submit" onclick="M.toast({html: '{{ item.title }} was added to cart!'})">
          <i class="material-icons">add_shopping_cart</i>
        </button>
      </form>
    </div>
  

  </div>
      
 



{% endblock %}