{% extends 'base.html' %}
{% block content %}
    <h1>Cart</h1>
    {% for item in cart.cartitem_set.all %}    
    <div class="card">
        <div class="card-content">  
            <img src="{{ item.item.image_url}}" alt="{{ item.item.title }}" width="250" height="300">
            <span class="card-title">{{ item.item.title }}</span>            
            <p>qty: {{ item.quantity }}</p>
            <p>price: {{ item.total_price }}</p>
            <div class="card-action">
                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Remove Item" class="btn red right">
                </form>
            </div>
        </div>
    </div>
    {% empty %}
        <h3>Your cart is empty</h3>
    {% endfor %}
    <div class="total-price">
        <h3>Total Price: ${{ cart.get_total_price }}</h3>
        <h3>Total Items: {{ cart.get_total_items }}</h3>
    </div>
    <form action="{% url 'checkout' %}">
        <input type="submit" value="Checkout" class="btn">
    </form>
{% endblock %}
