{% extends 'base.html' %}
{% block content %}
   <div class="container home_msg">
       <h2>Hi {{ user }}! To pay, click on this button </h2>
        {% if user.is_authenticated %}
        <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
            <input type="submit" value="Payment" class="btn">
        </form>
        {% else %}
        <h2>You're not logged in...</h2><a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
        {% endif %}
    </div>
    {% endblock %}